name: Selenium Java with ubuntu-latest
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  job_build:
  # Win - Local
    runs-on: self-hosted
  # Ubuntu
#     runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: 'temurin'
        cache: maven

    - name: Run Build
      run: mvn --batch-mode -DskipTests package
      
  job_setup:
    needs: job_build
      # Win - Local
    runs-on: self-hosted
    steps:
#       - name: Install with version '827102'
#         uses: ./dist/
#         with:
#           chrome-version: 827102  
      - uses: browser-actions/setup-chrome@latest
      - name: Run test on Chromium
        run: (Get-Item (Get-Command chrome).Source).VersionInfo.ProductVersion
    
  job_test:
    needs: job_setup
      # Win - Local
    runs-on: self-hosted
  # Ubuntu
#     runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
#     - name: Install Google Chrome # Using shell script to install Google Chrome
#       run: |
#        chmod +x ./scripts/InstallChrome.sh
#        ./scripts/InstallChrome.sh

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: 'temurin'
        cache: maven

    - name: Run Tests
      run: mvn --batch-mode test
      #-Dmaven.test.failure.ignore=true
      
    - name: Publish Test Report
      if: ${{ always() }}
      uses: ScaCap/action-surefire-report@v1.0.5
      with:
        report_paths: '**/surefire-reports/TEST-*.xml'
        github_token: ${{ secrets.GITHUB_TOKEN }}
