name: Selenium Java with Maven 1.0
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  get_ip_address:
    runs-on: self-hosted
    # runs-on: ubuntu-latest
    
    steps:
    - name: Public IP
      id: ip
      uses: haythem/public-ip@v1.2

    - name: Print Public IP
      run: |
        echo ${{ steps.ip.outputs.ipv4 }}
        echo ${{ steps.ip.outputs.ipv6 }}

  build:
    runs-on: self-hosted
    # runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: 'temurin'
        cache: maven

    - name: Run Build
      run: mvn --batch-mode -DskipTests package

  test:
    runs-on: self-hosted
    # runs-on: ubuntu-latest
    
    steps:
    #- name: Install Google Chrome # Using shell script to install Google Chrome
    #  run: |
    #   chmod +x ./scripts/InstallChrome.sh
    #    ./scripts/InstallChrome.sh
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: 'temurin'
        cache: maven

    - name: Run Tests
      # run: mvn --batch-mode -Dmaven.test.failure.ignore=true test
      run: mvn --batch-mode test
      
    - name: Publish Test Report
      if: ${{ always() }}
      uses: ScaCap/action-surefire-report@v1.0.5
      with:
        report_paths: '**/surefire-reports/TEST-*.xml'
        github_token: ${{ secrets.GITHUB_TOKEN }}